.header {
  gap: 3rem;
  margin: 2rem auto;
  font-size: 1rem;
  width: 80%;
  max-width: 90rem;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
}

.search {
  background: rgb(237, 210, 210);
  border-radius: 15px;
  border: none;
  padding: 15px;
  width: 100%;
}

.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header p {
  margin: 0;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #e82429;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.loading {
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
}
