/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  background: #fcf7f7;
}

.not-found,
.error {
  margin-top: 5rem;
  text-align: center;
}

.not-found h1,
.error h1 {
  font-size: 5rem;
  margin: 0px;
  font-weight: 900;
  color: #262626;
  text-transform: uppercase;
  background: linear-gradient(90deg, #1d4da8, rgb(58, 117, 225));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fcf7f7;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/main-header/nav-link.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.nav-link_link__1hnRU {
  text-decoration: none;
  color: rgb(26, 26, 25);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.nav-link_link__1hnRU:hover,
.nav-link_link__1hnRU:active {
  background: linear-gradient(90deg, #1d4da8, rgb(58, 117, 225));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(26, 26, 27, 0.8);
}

.nav-link_active__a_MRG {
  background: #e82429;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/main-header/main-header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.main-header_header__NcZu_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  max-width: 90rem;
  margin: auto;
}

/* @media (min-width: 768px) {
  .header {
    padding: 2rem;
  }
} */

.main-header_nav__vsGWg ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.25rem;
}

.main-header_logo__CyWPR {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: rgb(26, 26, 25);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.main-header_logo__CyWPR img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

