/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/components/images/image-slideshow.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.image-slideshow_slideshow__Fsjng {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.image-slideshow_slideshow__Fsjng img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1.1) translateX(-1rem) rotate(-5deg);
  transition: all 0.5s ease-in-out;
}

.image-slideshow_slideshow__Fsjng .image-slideshow_active__t8VTE {
  z-index: 1;
  opacity: 1;
  transform: scale(1) translateX(0) rotate(0);
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_hero__7KFOs {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.page_imageWrapper__Fc9qC {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.page_imageWrapper__Fc9qC img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.page_heroText__JVWLO {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.page_heroText__JVWLO h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.page_heroText__JVWLO p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.page_cta__i2v5_ {
  display: flex;
  justify-content: center;
}

.page_cta__i2v5_ a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  background: #e82429;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.page_cta__i2v5_ a:hover,
.page_cta__i2v5_ a:active {
  background: linear-gradient(90deg, #173a7b, rgb(6, 30, 74));
}

