.meals {
  width: 80%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

/* MOBIL */
@media (max-width: 640px) {
  .meals {
    width: 100% !important;
    max-width: 100% !important;
    grid-template-columns: 1fr;
    margin: 1rem auto;
    padding: 0;
    box-sizing: border-box;
  }

  .meals>li {
    width: 100%;
  }
}